<tr>
    <td>{{this.fullName}}</td>
    <td>{{this.email}}</td>
    <td>{{this.cpf}}</td>
    <td>{{this.password}}</td>
    <td>
        <div>
            <i class="far fa-folder-open"></i>
        </div>
    </td>
</tr>