<nav>
    <div>
        <img src="/images/shorty-logo.svg" alt="shorty-app-main-logo">
    </div>
    
    <div class="navigation-profile">
    <div>
        <button class="btn-main" type="button"><a href="/adv/processes">Listar processos</a></button>
    </div>

    <div>
        <button class="btn-main" type="button"><a href="/adv/users">Listar usuários</a></button>
    </div>
    </div>
</nav>

<section>
        <div>
    <div>
        <button class="btn-main" type="button"><a href="/adv/processes/create">Criar novo processo</a></button>
    </div>

    <div>
        <button class="btn-main" type="button"><a href="/adv/users/create">Criar novo usuário</a></button>
    </div>
    </div>
</section>
