<nav>
    <div>
        <img src="/images/shorty-logo.svg" alt="shorty-app-main-logo">
    </div>
    
    <div class="navigation-profile">
        <button class="btn-main" type="button" data-toggle="modal" data-target="#createNewProcess">
            {{>createNewProject}}
        </button>
        <button class="btn-main" type="button" data-toggle="modal" data-target="#createNewUser">
            {{>createNewUser}}
        </button>
        <div>
            <img class="avatar-image" src="/images/default-avatar.png" alt="user-profile-avatar">
            <div class="dropdown">
                <img class="arrow-menu" src="/images/down-arrow.svg" alt="down-arrow-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{>navBarMenuDropDown}}
            </div>
        <span>Grazielli Pozzi</span>
        </div>
    </div>
</nav>

<div class="modal fade" id="createNewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form class="needs-validation" action="/users/create" method="post">
                    <h2>Criar novo usuário</h2>
                    <div class="modal-field">
                    {{!-- Trazer os cpfs dos clientes cadastrados no banco
                    <label for="protocol">Protocolo</label>
                    <select class="modal-input" name="protocol" id="protocol" placeholder="Procolo" required>
                        <option value="http://">HTTP</option>
                        <option value="https://">HTTPS</option>
                    </select> --}}
                    </div>
                    <div class="modal-field">
                        <label for="fullName">Nome completo</label>
                        <input class="modal-input" type="text" name="fullName" id="fullName" placeholder="Insira o nome completo do usuário" required>
                    </div>
                    <div class="modal-field">
                        <label for="email">Email</label>
                        <input class="modal-input" type="text" name="email" id="email" placeholder="Insira o email do usuário" required>
                    </div>
                    <div class="modal-field">
                        <label for="cpf">CPF</label>
                        <input class="modal-input" type="text" name="cpf" id="cpf" placeholder="Insira o CPF do usuário" required>
                    </div>

                    <div class="modal-field">
                        <label for="password">Senha</label>
                        <input class="modal-input" type="text" name="password" id="password" placeholder="Insira a senha do usuário" required>
                    </div>

                    </div>

                    <div class="modal-action-buttons">
                        <button type="button" class="btn-outline" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn-main">
                            Criar novo usuário
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>    
</div>

<main>
    {{#if dataUser}}
    <div class="info-dash-container">
        <h2>Lista de usuários</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Senha</th>
                </tr>
            </thead>

            <tbody id="table-body">
                {{#each dataUser}}
                    {{>userTableRows this}}
                {{/each}}
            </tbody>
        </table>
    </div>

    {{else}}
    <div class="empty-dash-container">
        <h2>Ainda não existem usuários criados</h2>
        <p>Para criar um novo usuário, clique no botão abaixo</p>
        <button class="btn-main" type="button" data-toggle="modal" data-target="#createNewUser">
            {{>createNewUser}}
        </button>
    </div>
    {{/if}}
</main>