<form action="/adv/client-login" method="post">

<div>
    <label for="cpf"></label>
    <input type="text" name="cpf" id="cpf" placeholder="Digite o seu CPF.">

    {{#if cpfError}}
        <div>
            <span>{{cpfError}}</span>
        </div>
    {{/if}}

</div>

<div>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Digite a sua senha.">
    {{#if passwordError}}
        <div>
            <span>{{passwordError}}</span>
        </div>
    {{/if}}

</div>

<button type="submit">Entrar</button>

</form>